.translationTable {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 3rem;
	&-heading,
	&-data {
		border: 1px solid #b6b4a9;
		text-align: left;
		padding: 1rem;
	}
	&-row {
		&:nth-child(even) {
			background-color: #e0ddcf;
		}
	}
}
