.button {
	position: relative;
	background-color: #e0ddcf;
	border: none;
	border-radius: 20px;
	color: #3f5e5a;
	outline: none;
	cursor: pointer;
	font: inherit;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;

	&::after {
		content: '';
		background: white;
		display: block;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -20px !important;
		margin-top: -120%;
		opacity: 0;
		transition: all 0.8s;
	}

	&:hover,
	&:active {
		color: #7d869c;
	}

	&:active {
		color: #7d869c;
		&::after {
			padding: 0;
			margin: 0;
			opacity: 1;
			transition: 0s;
		}
	}
}

.button:disabled {
	color: #cccccc;
	cursor: not-allowed;
}

.success {
	color: #5c9210;
}

.danger {
	color: #944317;
}
